@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=BBH+Sans+Hegarty&family=Roboto:ital,wght@0,100..900;1,100..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=BBH+Sans+Hegarty&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white color(black red green blue);
}

body.dark {
    background-color: #121212;
    color: white;
}

h1, nav p, footer {
    font-family: "Zalando Sans"
}

h2, p {
    font-family: "Inter";
}

header h1 {
    text-align: center;
    margin: 10px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 15px;
    background-color: brown;
    border-radius: 2px;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

nav p {
    justify-content: space-evenly;
    font-size: 20px;
}

.imgcontainer {
    margin: 15px;
    overflow: hidden;
}

img {
    width: 100%;
    height: 320px;
}

#gallery {
    transition: opacity 0.5s ease;
    opacity: 1;
}

#gallery.fade-out {
    opacity: 0;
}

.intro {
    text-align: center;
    align-items: center;
}

.intro p {
    margin: 10px;
}

footer {
    margin: 15px;
    text-align: center;
    background-color: brown;
    border-radius: 2px;
    align-items: center;
    padding: 9px;
}

button {
    background-color: brown;
    color: white;
    font-weight: bolder;
    margin-top: 10px;
    padding: .7rem;
    border: none;
    border-radius: 10px;
}

button:hover {
    transform: scale(1.1);
}

@media (min-width: 905px) {
    .grid-container {
        display: flex;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        text-align: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .imgcontainer {
        width: 100%;
        height: auto;
    }
}